<app-logged-in-header></app-logged-in-header>
<div class="logged-in-header logged-in-margin-top">
    <div class="container">
        <div class="logged-in-heading">
            My Dashboard
        </div>
        <ul class="nav nav-pills mb-3 sim-detail-navbar" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="wishlist-tab" data-toggle="pill" href="#wishlist" role="tab"
                    aria-controls="wishlist" aria-selected="true">My Wishlist</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="paymentMethod-tab" data-toggle="pill" href="#paymentMethod" role="tab"
                    aria-controls="paymentMethod" aria-selected="false">Payment Methods</a>
            </li> -->
        </ul>
    </div>
</div>
<div class="container">
    <div class="tab-content">
        <div class="tab-content sim-detail-tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="wishlist" role="tabpanel" aria-labelledby="wishlist-tab">
                <div *ngIf="!userdetail?.products.length" class="page-header" style="color: grey;">
                    <div class="card-holder" style="justify-content: flex-start;">
                        <div class="simulation-card">
                            <!-- <div routerLink="/user/product/{{product.id}}"> -->
                            <div class="sim">
                                No Simulations in<br> <span style="margin-left: 19px;">your wishlist</span>
                                <button type="button" class="btn  color-common view-prod-btn" routerLink="/user/"><span
                                        style="color: black;">Expore Simulations</span></button>
                            </div>
                            <!-- <div class="sim-button"> -->

                            <!-- </div> -->

                        </div>

                    </div>
                </div>
                <div class="card-holder normal-view-flex-style isBiggerScreen">
                    <div *ngFor="let product of userdetail?.products" class="simulation-card ">
                        <div routerLink="/user/product/{{product.id}}">
                            <div class="sim-img">
                                <img [src]="product.productThumbNailImageUrl1">
                            </div>
                            <div class="sim-card-name">{{product.productTitle}}</div>
                            <div class="sim-details">
                                <span class="mobile-span-width"><i class="fas fa-signal"
                                        style="padding-right:5px"></i>{{product.courseLevel}}</span>
                                <span><i class="far fa-clock"
                                        style="padding-right:5px"></i>{{product.contentDuration}}</span>
                            </div>
                        </div>
                        <div class="footer-remove-btn" (click)="removeWishlist(product.id)">
                            Remove
                        </div>
                    </div>
                </div>
                <div class="container isSmallerScreen" *ngFor="let product of userdetail?.products">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-horizontal" routerLink="/user/product/{{product.id}}">
                                    <div class="img-square-wrapper">
                                        <img [src]="product.productThumbNailImageUrl1" width="135">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">{{product.productTitle}}</h4>
                                        <p class="card-text"> <span class="mobile-span-width"><i class="fas fa-signal"
                                                    style="padding-right:5px"></i>{{product.courseLevel}}</span> <br>
                                            <span><i class="far fa-clock"
                                                    style="padding-right:5px"></i>{{product.contentDuration}}</span></p>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <small (click)="removeWishlist(product.id)">Remove</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 100px;">
    <app-logged-in-footer></app-logged-in-footer>
</div>