.logged-in-header{
    // height: 120px;
    background: #1F2730;

}
.logged-in-heading{
    font-size: 30px;
    color: white;
    font-family: 'Ubuntu';
    padding-top: 30px;
    padding-bottom: 21px;
}