<app-header></app-header>
<div class="container normal-view-margin-top">
    <div class="row">
        <div class="col-md-6">
            <div class="banner-content">
                <div class="banner-heading">
                    <div class="simulated-text">Prepare your students <br>for real life</div>
                    <!-- <div class="simulated-text">sit amet consectetur</div> -->
                </div>
                <div class="col-md-6 isSmallerScreen">
                    <img src="../../assets/instPicOne.svg" class="mobile-img" width="230">
                </div>
                <div class="banner-text">
                    Simtuitive gamified training courses bridge the gap between education and real-life experience.
                </div>
                <div>
                    <button class="btn requestBtn" routerLink='/institutionDemoForm'>Request a demo</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 isBiggerScreen">
            <img src="../../assets/instPicOne.svg" width="570px" height="370px">
        </div>
    </div>
    <div class="logos-text mar-top-60px">
        <span class="green-text">Trusted by users globally</span>
    </div>
    <div class="brand-logos isBiggerScreen">
        <img src="/assets/clientLogo1.png" style="width:119px;height:29px">
        <img src="/assets/clientLogo6.png" style="width:105px;height:28px">
        <img src="/assets/clientLogo4.png" style="width:92px;height:29px">
        <img src="/assets/clientLogo3.png" style="width:87px;height:28px">
        <img src="/assets/clientLogo2.png" style="width:170px;height:28px">
        <img src="/assets/clientLogo5.png" style="width:80px;height:28px">
    </div>
    <div class="mobile-view-logos isSmallerScreen">
        <img src="/assets/clientLogo1.png" style="width:100px;">
        <img src="/assets/clientLogo6.png" style="width:90px;">
        <img src="/assets/clientLogo4.png" style="width:75px;">
    </div>
    <div class="mobile-view-logos isSmallerScreen">
        <img src="/assets/clientLogo3.png" style="width:65px;">
        <img src="/assets/clientLogo2.png" style="width:150px;">
        <img src="/assets/clientLogo5.png" style="width:70px;">
    </div>
</div>

<div class="container banner-two">
    <div class="row just-cont-spc-evn">
        <div class="banner-two-img mar-bot-10Cent">
            <img src="../../assets/Institution_Page_ICON_2.svg">
            <div class="banner-two-text">Course Completion <br>Certificates</div>
        </div>
        <div class="banner-two-img">
            <img src="../../assets/Institution_Page_ICON_1.svg">
            <div class="banner-two-text">Built-in Learning <br>Assessments</div>
        </div>

        <div class="banner-two-img">
            <img src="../../assets/Institution_Page_ICON_4.svg">
            <div class="banner-two-text">Hands-on Practice</div>
        </div>
        <div class="banner-two-img">
            <img src="../../assets/Institution_Page_ICON_3.svg">
            <div class="banner-two-text">Risk-Free Learning <br>Experience</div>
        </div>
    </div>
</div>

<div class="container banner-two">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="simulated-text mobile-layout-text-title">The future of online training</div>
            <div class="banner-three-text text-center">Simulation and training create a balance between education and
                experience. It’s becoming the preferred way to consume online digital content due to the
                effectiveness and flexibility of delivery. Get in touch with us today to discuss your training
                needs.</div>
        </div>
    </div>
    <div class="row mar-bot-130px">
        <div class="col-md-12 text-center">
            <img src="../../assets/Institution_Page_IMG_2.svg" class="mobile-img-two">
        </div>
    </div>
</div>

<div class="container mar-bot-60px">
    <div class="row">
        <div class="col-md-6 pad-top-82px isBiggerScreen">
            <img src="../../assets/Institution_Page_IMG_3.svg" width="472">
        </div>
        <div class="col-md-6">
            <div class="simulated-text mobile-layout-text-title mar-bot-40px">
                Engaging learning experience
            </div>
            <div class="banner-two-text pad-bot-70px">
                When students interact with our simulation based training courses, they are immersed fully into what
                they are learning. Every stage of the course is designed to engage and educate. Our courses deliver the
                content to the learner using simple yet effective video content. The learner can then practice and
                refine their knowledge using our simulation stage of learning. Once the learner is ready to proceed,
                they can complete their course with an online assessment.
            </div>
            <div class="simulated-text mobile-layout-text-title mar-bot-40px">
                Facilitated courses for institutions
            </div>
            <div class="banner-two-text pad-bot-70px">
                If you would prefer, we can send SMEs to your institution to guide classes with the courses and provide
                face-to-face support to students.
            </div>
            <div class="isSmallerScreen">
                <img src="../../assets/Institution_Page_IMG_3.svg" class="mobile-img" width="230">
            </div>
        </div>
    </div>
</div>

<div class="container pad-bot-130px">
    <div class="row">
        <div class="col-md-6">
            <div class="simulated-text mobile-layout-text-title mar-bot-40px">
                Bridge the gap between education and work experience
            </div>
            <div class="banner-four-text">
                Finding out what works and what doesn’t in the real-world can often be a challenge. Employees are
                expected to be refined to perfection already. Simtuitive simulation courses give students the
                opportunity to test out what they are learning in a risk-free environment.
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/Institution_Page_IMG_4.svg" class="mobile-img-two" width="472">
        </div>
    </div>
</div>

<div class="try-for-free-banner">
    <div class="try-for-free-text">Request a demo for free</div>
    <div>
        <button type="button" class="btn requestBtn2" routerLink='/institutionDemoForm'>Request a demo</button>
    </div>
</div>
<app-footer></app-footer>