<div class="row header">
    <div class="col-md-3">
        <img src="/assets/header-logo.png" class="header-logo" routerLink="/home">
    </div>
</div>
<div class="container logged-in-margin-top">
    <div class="text-center reset-pwd-container">
        <div class="login-heading">Reset Password</div>
        <div class="login-inputs">
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="New password" [(ngModel)]="password">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Retype new password"
                    [(ngModel)]="confirmPassword">
            </div>
            <span *ngIf="errorMsg?.length" style="color: red;">{{errorMsg}}</span><br>
            <button type="button" class="btn button-common reset-pwd-btn" style="font-weight: bold;"
                (click)="updatePassword() " [disabled]="!confirmPassword || !password ">Reset password</button>
        </div>
    </div>
</div>
<div class="modal fade" id="reset-success-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 10%;">
        <div class="modal-content wish-added-modal-container">
            <div class="wish-added-heading">Reset Password<i class="fas fa-times wish-added-close"
                    click="closeWishlistModal()"></i>
            </div>
            <div class="wish-added-msg">
                Your password has been successfully reseted. <span class="sign-up-link-small" (click)="goToLogin()">SIGN
                    IN</span>
            </div>
        </div>
    </div>
</div>
