.prd-drpDwn-add-wishlist {
  margin-right: 25px;
  background: #ff9100 !important;
  font-weight: 700;
  border-radius: 20px;
  padding-left: 21px;
  padding-right: 21px;
}
.play-icon {
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 34%;
  color: #335461;
}