<app-header></app-header>
<div class="container normal-view-margin-top">
    <div class="row">
        <div class="col-md-6">
            <div class="banner-content">
                <div class="banner-heading">
                    <div class="simulated-text">Employee training programs for businesses</div>
                    <!-- <div class="simulated-text">sit amet consectetur</div> -->
                </div>
                <div class="col-md-6 isSmallerScreen">
                    <img src="../../assets/Business_Page_IMG_1.svg" class="mobile-img-one" width="230">
                </div>
                <div class="banner-text">
                    Train and develop your employees using state of the art simulated training courses.
                </div>
                <div>
                    <button class="btn requestBtn" routerLink='/requestDemoForm'>Request a demo</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 isBiggerScreen">
            <img src="../../assets/Business_Page_IMG_1.svg" width="570px" height="370px">
        </div>
    </div>
    <div class="logos-text mar-top-60px">
        <span class="green-text">Trusted by users globally</span>
    </div>
    <div class="brand-logos isBiggerScreen">
        <img src="/assets/clientLogo1.png" style="width:119px;height:29px">
        <img src="/assets/clientLogo6.png" style="width:105px;height:28px">
        <img src="/assets/clientLogo4.png" style="width:92px;height:29px">
        <img src="/assets/clientLogo3.png" style="width:87px;height:28px">
        <img src="/assets/clientLogo2.png" style="width:170px;height:28px">
        <img src="/assets/clientLogo5.png" style="width:80px;height:28px">
    </div>
    <div class="mobile-view-logos isSmallerScreen">
        <img src="/assets/clientLogo1.png" style="width:100px;">
        <img src="/assets/clientLogo6.png" style="width:90px;">
        <img src="/assets/clientLogo4.png" style="width:75px;">
    </div>
    <div class="mobile-view-logos isSmallerScreen">
        <img src="/assets/clientLogo3.png" style="width:65px;">
        <img src="/assets/clientLogo2.png" style="width:150px;">
        <img src="/assets/clientLogo5.png" style="width:70px;">
    </div>
</div>

<div class="container banner-four">
    <div class="row">
        <div class="col-md-6 isBiggerScreen">
            <img src="../../assets/Business_Page_IMG_2.svg" width="500">
        </div>
        <div class="col-md-6">
            <div class="simulated-text mobile-layout-text-title mar-bot-40px">
                Online learner
                management system
            </div>
            <div class="banner-two-text">
                Our online dashboard comes free with all plans. The online learner management system collates data from
                all of your employees and gives you structured data to work with.
                <br><br>Track and view users with progress and
                completion reports, manage your licenses, view individual learner dashboards, and view usage analytics.
            </div>
        </div>
        <div class="col-md-6 isSmallerScreen">
            <img src="../../assets/Business_Page_IMG_2.svg" class="mobile-img-one" width="230">
        </div>
    </div>
</div>

<div class="container banner-four">
    <div class="row">
        <div class="col-md-6">
            <div class="simulated-text mobile-layout-text-title mar-bot-40px">
                Group learners and
                <br>build teams
            </div>
            <div class="banner-two-text">
                With all of your data in one place, you can easily organise learners
                into groups and departments. View progress of specific teams as an
                entity and easily determine areas of success and required improvement.
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/Business_Page_IMG_3.svg" class="mobile-img-two" width="500">
        </div>
    </div>
</div>

<div class="container banner-four">
    <div class="row">
        <div class="col-md-6 isBiggerScreen">
            <img src="../../assets/Business_Page_IMG_4.svg" width="500">
        </div>
        <div class="col-md-6">
            <div class="simulated-text mobile-layout-text-title mar-bot-40px">
                Flexible learning modules
            </div>
            <div class="banner-two-text">
                You can subscribe to Simtuitive courses on either a self-paced or assisted learning basis. With assisted
                learning, we send a facilitator or an SME to your business to guide your teams through the process
                of
                the simulated course material.
            </div>
        </div>
        <div class="col-md-6 isSmallerScreen">
            <img src="../../assets/Business_Page_IMG_4.svg" class="mobile-img-two" width="500">
        </div>
    </div>
</div>

<div class="container banner-four pad-bot-130px">
    <div class="row">
        <div class="col-md-6">
            <div class="simulated-text mobile-layout-text-title mar-bot-40px">
                Dedicated account, management and support
            </div>
            <div class="banner-two-text">
                When you sign up to Simtuitive, you receive around the clock dedicated support. Anything you need
                help with - we will be <br> there for you.
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/Business_Page_IMG_5.svg" class="mobile-img-two" width="500">
        </div>
    </div>
</div>

<div class="try-for-free-banner">
    <div class="try-for-free-text">Request a demo for free</div>
    <div>
        <button type="button" class="btn requestBtn2" routerLink='/requestDemoForm'>Request a demo</button>
    </div>
</div>
<app-footer></app-footer>