<app-header></app-header>
<div class="container normal-view-margin-top">
    <div class="row">
        <div class="col-md-6">
            <div class="banner-content">
                <div class="banner-heading">
                    <div class="simulated-text">Partner with Simtuitive to widen the reach of your content and sales
                    </div>
                </div>
                <div class="isSmallerScreen">
                    <img src="../../assets/partnerwithus_Page_IMG_1.svg" class="mobile-img" width="230">
                </div>
                <div class="banner-text">
                    Here at Simtuitive we offer the best in gamified business simulations.
                    Explore the partner options below and let’s start a discussion.
                </div>
                <div>
                    <button class="btn requestBtn" routerLink='/partnerDemoForm'>Become a partner</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 isBiggerScreen">
            <img src="../../assets/partnerwithus_Page_IMG_1.svg" width="570" height="370">
        </div>
    </div>
    <div class="logos-text">
        <span class="green-text">Trusted by users globally</span>
    </div>
    <div class="brand-logos isBiggerScreen">
        <img src="/assets/clientLogo1.png" style="width:119px;height:29px">
        <img src="/assets/clientLogo6.png" style="width:105px;height:28px">
        <img src="/assets/clientLogo4.png" style="width:92px;height:29px">
        <img src="/assets/clientLogo3.png" style="width:87px;height:28px">
        <img src="/assets/clientLogo2.png" style="width:170px;height:28px">
        <img src="/assets/clientLogo5.png" style="width:80px;height:28px">
    </div>
    <div class="mobile-view-logos isSmallerScreen">
        <img src="/assets/clientLogo1.png" style="width:100px;">
        <img src="/assets/clientLogo6.png" style="width:90px;">
        <img src="/assets/clientLogo4.png" style="width:75px;">
    </div>
    <div class="mobile-view-logos isSmallerScreen">
        <img src="/assets/clientLogo3.png" style="width:65px;">
        <img src="/assets/clientLogo2.png" style="width:150px;">
        <img src="/assets/clientLogo5.png" style="width:70px;">
    </div>
</div>

<div class="container mar-right-left-4Cent pad-top-bot-130px">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="simulated-text mobile-layout-text-title">Become a Simtuitive partner</div>
            <div class="banner-three-text text-center">There has never been a better time to partner with us. Simulation
                courses
                are growing in popularity and we need your creativity and talent to show that simulated training
                is here to stay.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center mar-bot-10Cent">
            <img src="../../assets/partnerwithus_Page_ICON_1.svg">
            <p class="banner-four-text">Executive content producer</p>
            <p class="banner-four-desc">As an executive content producer, you’ll work with us to create unique course
                content</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="../../assets/partnerwithus_Page_ICON_2.svg" width="80">
            <p class="banner-four-text">Sales partner</p>
            <p class="banner-four-desc">Sales partners use their expertise to sell Simtuitive licences to a global
                audience.</p>
        </div>
    </div>
</div>

<div class="container pad-bot-130px">
    <div class="row">
        <div class="col-md-6 isBiggerScreen">
            <img src="../../assets/partnerwithus_Page_IMG_2.svg" width="451">
        </div>
        <div class="col-md-6">
            <div class="simulated-text mobile-layout-text-title mar-bot-40px">
                Become an executive content producer
            </div>
            <div class="banner-two-text">
                Businesses with training content can transform their courses into interactive simulation based training
                material by becoming a partner with Simtuitive.
            </div>
            <br>
            <div class="banner-two-text">
                We create state of the art simulated training material and help you boost the reach of your courses to a
                whole new market of learners.
            </div>
            <br>
            <div class="banner-two-text">
                If you have own self-developed training material that you want seen, get in touch with us today to
                discuss becoming an
                executive content producer.
            </div>
        </div>
        <div class="col-md-6 isSmallerScreen">
            <img src="../../assets/partnerwithus_Page_IMG_2.svg" class="mobile-img-two" width="230">
        </div>
    </div>
</div>

<div class="container pad-bot-130px">
    <div class="row">
        <div class="col-md-6">
            <div class="simulated-text mobile-layout-text-title mar-bot-40px">
                Become a sales partner
            </div>
            <div class="banner-two-text">
                Our sales partners are more than just sales people to us. When you become a partner with
                Simtuitive,
                you get access to our exclusive sales partner admin console where you can buy and distribute
                licences to new clients. It is easy to manage and distribute licenses and you gain commission on
                each
                sale you make.
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/partnerwithus_Page_IMG_3.svg" class="mobile-img-three" width="451">
        </div>
    </div>
</div>

<div class="container pad-bot-130px">
    <div class="row">
        <div class="col-md-6 isBiggerScreen">
            <img src="../../assets/partnerwithus_Page_IMG_4.svg" width="451">
        </div>
        <div class="col-md-6">
            <div class="simulated-text mobile-layout-text-title pad-bot-40px">The inclusive partner dashboard</div>
            <p class="banner-text">We have designed and built speciality dashboards for executive content producers and
                sales partners. Track the reach and revenues of your courses or track your sales and manage licences
                efficiently and effectively.</p>
        </div>
        <div class="col-md-6 isSmallerScreen">
            <img src="../../assets/partnerwithus_Page_IMG_4.svg" class="mobile-img" width="230">
        </div>
    </div>
</div>

<div class="try-for-free-banner">
    <div class="try-for-free-text">Get in touch with us</div>
    <div>
        <button type="button" class="btn requestBtn2" routerLink='/partnerDemoForm'>Become a partner</button>
    </div>
</div>
<app-footer></app-footer>