<app-header></app-header>
<div class="container normal-view-margin-top">

    <div class="row isBiggerScreen">
        <div class="col-md-6">

            <h1>Contact</h1>

            <p>We'd love to hear from you! Contact us using the phone numbers or email below.</p>

            <img src="../../assets/Contact_Page_ICON_Phone.svg">

            <span class="contact-number" style="padding-top:10px;">+91 9741 911 314</span>
            <span class="contact-number">+91 7349 549 373</span>
            <span class="contact-number">+91 80 41620302</span>
            <img src="../../assets/Contact_Page_ICON_MSG.svg">

            <h5>support@simtuitive.com</h5>

        </div>

        <div class="col-md-6 ">
            <img class='rightImg' src="../../assets/Contact_Page_IMG.svg">
        </div>

    </div>

    <div class="row isSmallerScreen">
        <div class="col-xs-12">
            <h1>Contact</h1>
            <p>We'd love to hear from you! Contact us using the phone numbers or email below.</p>
        </div>
        <div class="col-xs-12">
            <img class="main-page-img" src="../../assets/Contact_Page_IMG.svg" width="228">
        </div>

        <div class="container">

            <div class="row phone-email-block">
                <div class="col-xs-6">
                    <img src="../../assets/Contact_Page_ICON_Phone.svg">
                    <span class="contact-number">+91 7349 549 373</span>
                    <span class="contact-number">+91 7349 549 373</span>
                    <span class="contact-number">+91 80 41620302</span>
                </div>
    
                <div class="col-xs-6 mar-lef-9Cent">
                    <img src="../../assets/Contact_Page_ICON_MSG.svg">
                    <h5>support@simtuitive.com</h5>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>