<app-logged-in-header></app-logged-in-header>
<div class="container mar-top-120px">
    <div class="row">
        <div class="col-md-6">
            <div class="banner-content">
                <div class="banner-heading">
                    <div class="simulated-text">Self-paced learning</div>
                </div>
                <div class="isSmallerScreen-block text-center mar-bot-60px">
                    <img src="../../assets/Personal 1.svg" width="220">
                </div>
                <div class="banner-text">
                    Learn at your own pace, in the comfort of your own home. Our
                    courses give you the best possible experiential learning experience
                    and the flexibility to take the course from wherever suits you.
                </div>
            </div>
        </div>
        <div class="col-md-6 isBiggerScreen">
            <img src="../../assets/Personal 1.svg">
        </div>
    </div>
    <div class="logos-text">
        <span class="green-text">Trusted by users globally</span>
    </div>
    <div class="brand-logos isBiggerScreen">
        <img src="/assets/clientLogo1.png" style="width:119px;height:29px">
        <img src="/assets/clientLogo6.png" style="width:105px;height:28px">
        <img src="/assets/clientLogo4.png" style="width:92px;height:29px">
        <img src="/assets/clientLogo3.png" style="width:87px;height:28px">
        <img src="/assets/clientLogo2.png" style="width:170px;height:28px">
        <img src="/assets/clientLogo5.png" style="width:80px;height:28px">
    </div>
    <div class="isSmallerScreen">
        <div class="mobile-view-logos">
            <img src="/assets/clientLogo1.png" style="width:100px">
            <img src="/assets/clientLogo6.png" style="width:90px">
            <img src="/assets/clientLogo4.png" style="width:75px">
        </div>
        <div class="mobile-view-logos">
            <img src="/assets/clientLogo3.png" style="width:65px">
            <img src="/assets/clientLogo2.png" style="width:150px">
            <img src="/assets/clientLogo5.png" style="width:70px">
        </div>
    </div>
</div>

<div class="container banner-two">
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/Personal_Page_IMG_2.svg" class="banner-two-img" width="500">
        </div>
        <div class="col-md-6 pad-left-100px">
            <img src="../../assets/Personal_Page_ICON_1.svg">
            <div class="banner-text-head">Interactive simulation training courses</div>
            <div class="banner-text mobile-banner-text">Immerse yourself in our online business training courses.
                Simtuitive offers the
                best
                in engaging story lines, valuable content and a simulation based learning environment.</div>
            <img src="../../assets/Personal_Page_ICON_2.svg">
            <div class="banner-text-head">Measure your learning</div>
            <div class="banner-text mobile-banner-text">Use our integrated online dashboard to get real-time feedback on
                how you are
                progressing. Analytics show off your strong points and areas you need to improve on. Receive
                recommendations to help you progress further.</div>
            <img src="../../assets/Personal_Page_ICON_3.svg">
            <div class="banner-text-head">Collect completion certificates</div>
            <div class="banner-text mobile-banner-text">On completion of our simulation courses you’ll receive a
                completion certificate.
                Showcase your training on LinkedIn and set yourself apart from other candidates.</div>
        </div>
    </div>
</div>

<div class="container banner-four">
    <div class="row">
        <div class="col-md-6">
            <div class="banner-two-heading">
                Flexible learning with integrated support
            </div>
            <div class="banner-two-text">
                With Simtuitive, you can work around your own circumstances and learn at your own pace. If you need any
                additional help from us, you’ll have access to around the clock support from our dedicated team.
            </div>
        </div>
        <div class="col-md-6 isBiggerScreen">
            <img src="../../assets/Personal_Page_IMG_3.svg" width="475">
        </div>
        <div class="col-md-6 isSmallerScreen text-center mar-top-60px">
            <img src="../../assets/Personal_Page_IMG_3.svg" width="230">
        </div>
    </div>
</div>

<div class="container banner-four">
    <div class="row">
        <div class="col-md-6 isBiggerScreen">
            <img src="../../assets/Personal_Page_IMG_4.svg" width="475">
        </div>
        <div class="col-md-6">
            <div class="banner-two-heading">
                High-quality video content
            </div>
            <div class="banner-two-text">
                Study our online business courses using useful and engaging videos. You don’t have to spend all your
                time reading and learning, our video content explains the course information in an effective yet simple
                manner.
            </div>
        </div>
        <div class="col-md-6 isSmallerScreen text-center mar-top-60px">
            <img src="../../assets/Personal_Page_IMG_4.svg" width="246">
        </div>
    </div>
</div>

<div class="container banner-four">
    <div class="row">
        <div class="col-md-6">
            <div class="banner-two-heading">
                Free learner dashboard
            </div>
            <div class="banner-two-text">
                When you sign up to Simtuitive you receive your own personal dashboard area. This is where you can track
                your courses and see recommendations for other courses that you can benefit from.
            </div>
        </div>
        <div class="col-md-6 isBiggerScreen">
            <img src="../../assets/Personal_Page_IMG_5.svg" width="475">
        </div>
        <div class="col-md-6 isSmallerScreen text-center mar-top-bot-60px">
            <img src="../../assets/Personal_Page_IMG_5.svg" width="228">
        </div>
    </div>
</div>

<div style="margin-top: 50px;">
    <app-logged-in-footer></app-logged-in-footer>
</div>