<div class="row header">
    <div class="col-md-3">
        <img src="/assets/header-logo.png" class="header-logo" routerLink="/home">
    </div>
</div>

<div class="container mar-top-16Cent">
    <div class="text-center verify-pwd-container">
        <div class="login-heading">Verification</div>

        <div class="verifyEmailBody">
            <p>Thank you for verifying your email. <br> Login to your account and start exploring our courses.</p>
        </div>

        <div class="login-inputs">
            <button type="button" class="btn button-common verify-pwd-btn" style="font-weight: bold;" routerLink='/home'
                data-toggle="modal" data-target="#loginModal">Login</button>
        </div>
    </div>
</div>