<app-header></app-header>
<div class="container normal-view-margin-top">
    <div class="section-heading pad-bot-36px">
        All Categories
    </div>
    <div class="category-container">
        <div class="mobile-layout-flex-design">
            <div *ngFor="let category of masterPoducts" class="category-item" (click)="navigation(category)">
                {{category}}
            </div>
        </div>

    </div>
    <div *ngFor="let category of masterPoducts,index as i">
        <div class="section-heading pad-top-35px">
            {{category}} simulations
            <span class="heading-see-all" (click)="navigation(category)">See all</span>
        </div>
        <div class="card-holder isBiggerScreen ">
            <div *ngFor="let product of filteredproducts[category], index as i">
                <div class="simulation-card" *ngIf="i<4">
                    <div (click)='navigateToFn(product)'>
                        <div class="sim-img">
                            <img [src]="product.productThumbNailImageUrl1">
                        </div>
                        <div class="sim-card-name">{{product.productTitle}}</div>
                        <div class="sim-details">
                            <span><i class="fas fa-signal" style="padding-right:5px"></i>{{product.courseLevel}}</span>
                            <span><i class="far fa-clock"
                                    style="padding-right:5px"></i>{{product.contentDuration}}</span>
                        </div>
                    </div>
                    <div class="footer-icon">
                        <i class="fas fa-chevron-down sim-expand-icon" (click)='openPrdExpandModalViewFn(product)'></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="isSmallerScreen">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div *ngFor="let product of filteredproducts[category], index as i">
                            <div class="card mar-bot-7Cent" *ngIf='i<1'>
                                <div class="card-horizontal" (click)='navigateToFn(product)'>
                                    <div class="img-square-wrapper">
                                        <img [src]="product.productThumbNailImageUrl1" class="mobile-layout-img">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">{{product.productTitle}}</h4>
                                        <p class="card-text"> <span class="mobile-layout-text"><i
                                                    class="fas fa-signal"></i>{{product.courseLevel}}</span>
                                            <br>
                                            <br>
                                            <span class="mobile-layout-text"><i
                                                    class="fas fa-clock"></i>{{product.contentDuration}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- product expand view modal -->
    <div class="modal fade" id="prod-expand-view-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="margin-top: 5%;margin-left:2%;">
            <div class="modal-content">
                <div>
                    <div class="product-drpdwn-menu">
                        <div class="product-expand-view">
                            <div class="product-exp-heading">{{category?.productTitle}}<i
                                    class="fas fa-times product-exp-close" data-dismiss="modal"></i></div>
                            <div class="">
                                <div style="display: flex;">
                                    <div class="">
                                        <img src="/assets/simulation2.png" class="product-drpdwn-img">
                                    </div>
                                    <div style="position: relative;">
                                        <div class="product-drpdwn-icons">
                                            <span style="padding-right: 45px;"><i class="fas fa-signal"
                                                    style="padding-right:5px"></i>{{category?.courseLevel}}</span>
                                            <span><i class="far fa-clock"
                                                    style="padding-right:5px"></i>{{category?.contentDuration}}</span>
                                        </div>
                                        <div class="prod-drpdwn-desc">
                                            {{category?.productDescription2}}
                                        </div>
                                        <div class="product-drpdwn-btn-holder">
                                            <button type="button" class="btn cat-drpDwn-add-wishlist"
                                                (click)='openAndCloseModalFn()'>Add to Wishlist</button>
                                            <button type="button" class="btn button-common prod-drpdwn-learn-btn"
                                                routerLink="/product/{{category?.id}}" data-dismiss="modal">Learn
                                                More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>